.movie-list-container {
  max-width: 1200px;
  margin: 0 auto;
}

.theater-container {
  padding: 20px;
  width: 100% !important;
}

.movie-container {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.movie-container h3 {
  font-size: 20px;
  margin: 0 0 10px;
}

.time-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.time-list li {
  background-color: #349638;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.time-list li:hover {
  background-color: #3E8E41;
}

.movie-title {
  color: #000000;
}

.tn-section-title h2 {
  display: inline;
  color: #f5a623;
  letter-spacing: 4px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #ffc107;
}

@media only screen and (min-width: 768px) {
  .theater-container {
    width: 100% !important;
  }
}

  
  /* header css */
  #divTheatreInfo {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1f2533;
  border: 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #divTheatreInfo h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  #divTheatreInfo h5 {
    margin-bottom: 20px;
    font-size: 14px;
    color: #888;
  }
  
  .tn-services {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tn-service {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    color: #f5a623;
    background-color: darkslategray;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tn-section-title {
    text-align: center;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    #divTheatreInfo h2 {
      font-size: 20px;
    }
  
    #divTheatreInfo h5 {
      font-size: 12px;
    }
  
    .tn-service {
      font-size: 12px;
      margin: 0 8px 8px 0;
      padding: 4px 8px;
    }
  }
  
  .modal-header {
   background-color:#1f2533;
  }

  .btn-close {
    color: white;
  }

  .custom-datepicker {
    color: #fff; 
  }

  .date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }